@{
    ViewBag.Title = "About";
}
<div class="span12">
    <div class="template-wrapper">
        <div class="block block-page_header_block span12 first ">
            <div class="span12 block-title centered">
                <h2>THE TEAM</h2>
                <p>The people responsible for this platform!</p>
            </div>
            <div class="span12 block-divider"></div>
        </div>

        <!-- Members -->
        <div class="block block-team_member_block span4 first cf">
            <div class="member">
                <div class="member-social">
                </div>
                <img src="/Content/img/team/JeffreyZwirs.png" alt="The team">
                <h3>Jeffrey Zwirs</h3>
                <span>Developer</span>
                <div class="content">
                    <p>Quisque mattis diam vel lacus tincidunt esti elementum. Sed vitae adipagdcing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at sdadolor. In ia culis viverra neque, ac eleifend antd.</p>
                </div>
                <div class="bline"></div>
            </div>
        </div>

        <div class="block block-team_member_block span4 ">
            <div class="member">
                <div class="member-social">
                    <a data-original-title="Twitter" data-toggle="tooltip" href="https://twitter.com/hugoc_4" class="icon-twitter-sign"></a>
                    <a data-original-title="Youtube" data-toggle="tooltip" href="https://youtube.com/hugoc4" class="icon-youtube"></a>
                </div>
                <img src="/Content/img/team/HugoC4.jpg" alt="The team">
                <h3>HugoC4</h3>
                <span>Head Development</span>
                <div class="content">
                    <p>Quisque mattis diam vel lacus tincidunt esti elementum. Sed vitae adipagdcing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at sdadolor. In ia culis viverra neque, ac eleifend antd.</p>
                </div>
                <div class="bline"></div>
            </div>
        </div>

        <div class="block block-team_member_block span4 ">
            <div class="member">
                <div class="member-social">
                </div>
                <img src="/Content/img/team/JoostHerwaarden.jpg" alt="The team">
                <h3>Joost Herwaarden</h3>
                <span>Developer</span>
                <div class="content">
                    <p>Quisque mattis diam vel lacus tincidunt esti elementum. Sed vitae adipagdcing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at sdadolor. In ia culis viverra neque, ac eleifend antd.</p>
                </div>
                <div class="bline"></div>
            </div>
        </div>
        
        <!-- Members end -->
    </div>
</div>