@model IEnumerable<Polycore.Models.SubjectModel>

@{
    ViewBag.Title = "Subjects";
}

<h2>Subjects</h2>

@foreach (var item in Model)
{
    <div> - @Html.ActionLink(item.Name, "Forum", new { subject = item.Name, id = item.SubjectID })</div>
}