@model IEnumerable<Polycore.Models.SubjectModel>

@{
    ViewBag.Title = "Subjects";
}

<h2>@ViewBag.Platform --> @ViewBag.Game --> Subjects</h2>

@foreach (var item in Model)
{
    <div> - @Html.ActionLink(item.Name, "Forum", new { platform = ViewBag.Platform, game = ViewBag.Game, subject = item.Name, id = item.SubjectID })</div>
}